/* Font Link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Common stuffs */
.primary-btn {
  padding: 20px 25px;
  margin-bottom: 50px;
  border: none;
  border-radius: 8px;
  background-color: #ff900e;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.navbar-container,
.banner-Container,
.List-of-Features,
.Feature-you-will-love-info,
.Feature-info,
.Feature-btn-part {
  padding: 0 50px;
}
/* Navbar */

.header {
  background-color: #fff4e7;
  width: 100%;
  height: 100%;
}
.navber {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 104px;
  width: 1440px;
  height: 40px;
  /* border:1px solid red; */
}
.Website-name {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-lists {
  display: flex;
  list-style: none;
}
.nav-lists li {
  margin-right: 70px;
}
.nav-list {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

/* Banner  */
.Banner-info {
  text-align: center;
}
.Banner-Title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 39px;
}
.Baner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
}
.Banner-img {
  padding-bottom: 45px;
  width: 100%;
}
/* Quick list of Our Features */
.List-of-Features {
  display: flex;
  margin-top: 85px;
  align-items: center;
  margin-bottom: 130px;
}
.Images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-right: 73px;
}
.Images img {
  height: 342px;
  left: 301px;
}
.Feature-list-Title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
#Span01 {
  font-weight: 500;
  color: #727272;
}
#Span02 {
  color: #ff900e;
}
.Feature-list-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
}
/* Features you will love & enjoy */
.Feature-info-and-img {
  display: flex;
  align-items: center;
}
.Feature-you-will-love-info {
  border-left: 8px solid #ff900e;
  border-radius: 5px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.feature-you-will-love-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.Feature-you-will-love-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.Features {
  width: 586px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.Feature-Title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin-bottom: 10px;
}
.Feature-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* Features you will love & enjoy btn */
.Feature-btn-part {
  padding: 6px 6px;
  margin-top: 20px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  width: 242px;
  cursor: pointer;
}
.btn-Title {
  font-weight: 700;
  font-size: 45px;
}
